{% extends 'templates/app.twig' %}

{% block content %}

  <div class="row text-center">
    <div class="col-12 mb-4 mt-2 text-center" id="searchBox">
      {# SEARCH BOX #}
      {% include 'templates/partials/searchBox.twig' %}
    </div>
  </div>

  <div class="row">
    {# RESULTS TMDB #}
    {% for val in results %}
      {% include 'templates/partials/hoverCard.twig' %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12 text-center" id="pagination">
      {# PAGINATION #}
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center" id="debug">
      {% if debugMode %}
        {{ dump() }}
      {% endif %}
    </div>
  </div>

{% endblock %}
