<div class="container-fluid" id="footerWrap">

  <div class="container">
  <div class="row">

    <div class="col-6 mt-2 mb-2 text-left">
      <h6 class="font-weight-bold">Get In Touch!</h6>
      <a class="footerIcon" href="https://github.com/warezaddict-com/"><i class="fab fa-2x fa-github-square"></i></a>
      <a class="footerIcon" href="#facebook"><i class="fab fa-2x fa-facebook-square"></i></a>
      <a class="footerIcon" href="#twitter"><i class="fab fa-2x fa-twitter-square"></i></a>
    </div>

    <div class="col-6 mt-2 mb-2 text-right">
      <a id="scroll" class="footerScroll" href="#">Back To Top <i class="far fa-arrow-alt-circle-up"> </i></a>
      <h6>Made with <a href="#"><i class="fas fa-heartbeat"> </i></a> by <a href="#">h22turbo</a></h6>
    </div>

  </div><!-- /row -->
  </div>

</div>
