<div class="container-fluid" id="footerWrap">

  <div class="container">
    <div class="row">
      <div class="col-6 text-left mt-5">
        <p>Left Footer</p>
      </div>
      <div class="col-6 text-right mt-5">
        <p>Right Footer</p>
      </div>
    </div>
  </div>

</div>
