
<form class="input-group input-group-lg" action="/search" method="post">

  <input type="search" class="form-control form-control-lg sBox" name="q" value="" placeholder="Search for Movies, TV Shows, Actors, etc..." autocomplete="off" aria-label="Search">
  
  {{ csrf.field|raw }}
  
  <span class="input-group-addon">
    <button class="btn btn-primary btn-lg" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </span>

</form>
